/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;

    --gap-controls-x: theme(spacing.4);
    --gap-controls-y: theme(spacing.12);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
    }
  }
}

@layer utilities {
  .mask-image {
    mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  }
}
