/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        -webkit-tap-highlight-color: transparent;
        -webkit-touch-callout: none;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            color-scheme: dark;
        }
    }

    :root {
        --color-background:  0, 0, 0;
        --color-container-background:  19, 20, 27;

        /* Button background */
        --color-button-background-base-default:     32, 33, 43;
        --color-button-background-base-highlight:   206, 207, 215;
        --color-button-background-base-dim:         11, 12, 16;

        --color-button-background-red-default:      153, 27, 27;   /* #991b1b */
        --color-button-background-red-highlight:    220, 38, 38;   /* #dc2626 */
        --color-button-background-red-dim:          38, 19, 23;    /* #261317 */

        --color-button-background-yellow-default:   217, 119, 6;   /* #d97706 */
        --color-button-background-yellow-highlight: 251, 191, 36;  /* #fbbf24 */
        --color-button-background-yellow-dim:       43, 19, 5;     /* #2b1305 */

        --color-button-background-green-default:    132, 204, 22;  /* #84cc16 */
        --color-button-background-green-highlight:  163, 230, 53;  /* #a3e635 */
        --color-button-background-green-dim:        20, 32, 7;     /* #142007 */

        --color-button-background-blue-default:     59, 130, 246;  /* #3b82f6 */
        --color-button-background-blue-highlight:   96, 165, 250;  /* #60a5fa */
        --color-button-background-blue-dim:         9, 19, 48;     /* #091330 */

        --color-button-background-pink-default:     219, 39, 119;  /* #db2777 */
        --color-button-background-pink-highlight:   244, 114, 182; /* #f472b6 */
        --color-button-background-pink-dim:         40, 0, 20;     /* #280014 */

        /* Button foreground */
        --color-button-foreground-base-default:     200, 200, 200;
        --color-button-foreground-base-highlight:   255, 255, 255;
        --color-button-foreground-base-dim:         32, 32, 32;

        --color-button-foreground-red-default:      153, 27, 27;   /* #991b1b */
        --color-button-foreground-red-highlight:    220, 38, 38;   /* #dc2626 */
        --color-button-foreground-red-dim:          38, 19, 23;    /* #261317 */

        --color-button-foreground-yellow-default:   217, 119, 6;   /* #d97706 */
        --color-button-foreground-yellow-highlight: 251, 191, 36;  /* #fbbf24 */
        --color-button-foreground-yellow-dim:       43, 19, 5;     /* #2b1305 */

        --color-button-foreground-green-default:    132, 204, 22;  /* #84cc16 */
        --color-button-foreground-green-highlight:  163, 230, 53;  /* #a3e635 */
        --color-button-foreground-green-dim:        20, 32, 7;     /* #142007 */

        --color-button-foreground-blue-default:     59, 130, 246;  /* #3b82f6 */
        --color-button-foreground-blue-highlight:   96, 165, 250;  /* #60a5fa */
        --color-button-foreground-blue-dim:         9, 19, 48;     /* #091330 */

        --color-button-foreground-pink-default:     219, 39, 119;  /* #db2777 */
        --color-button-foreground-pink-highlight:   244, 114, 182; /* #f472b6 */
        --color-button-foreground-pink-dim:         40, 0, 20;     /* #280014 */

        --gap-controls-x: 1rem;
        --gap-controls-y: 3rem;

        /*--color-background-50:  237, 237, 240; /* #EDEDF0 */
        /*--color-background-100: 206, 207, 215; /* #CECFD7 */
        /*--color-background-200: 141, 144, 160; /* #8D90A0 */
        /*--color-background-300: 97, 100, 118;  /* #616476 */
        /*--color-background-400: 71, 74, 91;    /* #474A5B */
        /*--color-background-500: 50, 52, 67;    /* #323443 */
        /*--color-background-600: 32, 33, 45;    /* #20212D */
        /*--color-background-700: 19, 20, 27;    /* #13141B */
        /*--color-background-800: 11, 12, 16;    /* #0B0C10 */
        /*--color-background-900: 7, 8, 10;      /* #07080A */
    }
}
