/* .vitepress/theme/custom.css */
/* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */
:root {
  /* --c-bg: black;
    --c-text: red;
    --c-text-light: red; */
  --c-brand: #646cff;
  --c-brand-light: #747bff;
}

#main-title {
  /* font-size: clamp(1rem, 10vw, 10rem); */
  overflow: hidden;
  line-height: 1.5;
  font-weight: bold;
  font-family: "Krona One", sans-serif;
}

.nav-bar {
  backdrop-filter: blur(5px) brightness(1.25);
  background-color: rgba(255, 255, 255, 0.65) !important;
}

.nav-bar .logo {
  height: 30px;
  margin-right: 2px;
}
